{% extends "base_template.html" %}
{% block title %}Follower{% endblock %}
{% block mainContent %}
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="icon_profile"></i>Followers</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="dashboard">Home</a></li>
            <li><i class="icon_profile"></i>Followers</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <table class="table">
              <tbody>
              <tr>
              <div class= "form-group">
                <form action = "/search_profile" method = "POST">
                  <td><input type="text" class="form-control" id="personSearch" name = "person" placeholder="Please use a valid email or username"></td>
                  <td><input type="submit" class="btn btn-default" value= "Search for new friend!"></input></td>
                </form>
              </div>
              </tr>
              <tr>
                <td>
                  {% if error %}
                    <p class=error style="color:red;font-weight:900;"><strong>Error:</strong> {{ error }}</p>
                  {% endif %}
                </td>
              </tr>
              </tbody>
          </table>
        </div>
      </div>

      <div class="row">
            <div class="col-lg-5 col-md-3">
              <div class="table-responsive">
                {% include 'followeelist.html'%}
              </div><!--table-->
            </div><!--col-->
            <div class="col-lg-5 col-md-3">
              <div class="table-responsive">
                {% include 'followerlist.html'%}
              </div>
            </div><!--col-->
      </div><!--row-->

{% endblock %}

{% block script %}
    <script>

    $(document).ready(function(){
      $("#followerlist").dataTable({
        "searching": false
      });
      $("#followeelist").dataTable({
        "searching": false
      });
    });
    </script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
{% endblock %}
