<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>PyTrade Stock Info</title>

    <!-- Bootstrap CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="static/assets/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="static/assets/css/elegant-icons-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles -->
    <link href="static/bootstrap/css/style.css" rel="stylesheet">
    <link href="static/assets/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
      <!--header start-->
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="dashboard" class="logo">PyTrade</a>
            <!--logo end-->

            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- inbox notificatoin start-->
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-important">4</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">You have 4 new messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="static/images/mpeng-profile.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Mengyi Peng</span>
                                    <span class="time">1 min</span>
                                    </span>
                                    <span class="message">
                                        We have meeting on Thursday!
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="static/images/mxie-profile.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Mingjun Xie</span>
                                    <span class="time">5 mins</span>
                                    </span>
                                    <span class="message">
                                        What's up?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="static/images/bobama-profile.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Barack Obama</span>
                                    <span class="time">2 hrs</span>
                                    </span>
                                    <span class="message">
                                        I really like PyTrade.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="static/images/jxi-profile.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jinping Xi</span>
                                    <span class="time">1 day</span>
                                    </span>
                                    <span class="message">
                                        PyTrade is so great.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox notificatoin end -->
                    <!-- alert notification start-->
                    <!-- alert notification start-->
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-important">3</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">You have 3 new notifications</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary"><i class="icon_profile"></i></span> 
                                    Xinmin follows you.
                                    <span class="small italic pull-right">5 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-warning"><i class="icon_pin"></i></span>  
                                    New stock infomration!
                                    <span class="small italic pull-right">50 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-success"><i class="icon_like"></i></span> 
                                    Mingjun joined group "PyTrade".
                                    <span class="small italic pull-right"> Today</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="static/images/yzhou-profile.jpg">
                            </span>
                            <span class="username">Yihan Zhou</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                            </li>
                            <li>
                                <a href="logout"><i class="icon_key_alt"></i> Log out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="sub-menu">
                      <a class="" href="dashboard">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="industrynews" class="">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                          <span>Industry News</span>
                      </a>

                  </li>       
                  <li class="sub-menu">
                      <a href="stocklist" class="">
                          <i class="icon_desktop"></i>
                          <span>My stock list</span>
                      </a>
                  </li>
                  <li>                     
                      <a class="" href="#">
                          <i class="icon_piechart"></i>
                          <span>Account Balance</span>
                          
                      </a>
                                         
                  </li>
                             
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_profile"></i>
                          <span>Follower List</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="#">My followers</a></li>
                          <li><a class="" href="#">My followees</a></li>
                      </ul>
                  </li>
                  
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_profile"></i>
                          <span>Group List</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_documents_alt"></i>
                          <span>About</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                       <ul class="sub">                          
                          <li><a class="active" href="about">Blank Page</a></li>
                          <li><a class="" href="404.html">404 Error</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
      		  <div class="row">
      				<div class="col-lg-12">
      					<h3 class="page-header"><i class="icon_desktop"></i>My Stock List</h3>
      					<ol class="breadcrumb">
      						<li><i class="fa fa-home"></i><a href="dashboard">Home</a></li>
      						<li><i class="icon_desktop"></i><a href="stocklist">My Stock List</a></li>
      						<li><i class="fa fa-area-chart" aria-hidden="true"></i>Stock historical data</li>
      					</ol>
      				</div>
      			</div>
              <!-- page start-->
              <div class="row">
                <div class="col-lg-6 col-md-9">
                  <h4>Total: 3 stocks following</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-9">
                  <h3>VXGOG: CBOE EQUITY VIXON GOOGLE</h3>
                </div>
                <div class="col-lg-3">
                  <button type="button" class="btn btn-default">Predict</button>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td><p class="text-left">Prev close</p></td>
                          <td><p class="text-right">25.22</p></td>
                          <td><p class="text-left">Day's range</p></td>
                          <td><p class="text-right">17.07-19.45</p></td>
                        </tr>
                         <tr>
                          <td><p class="text-left">Open</p></td>
                          <td><p class="text-right">17.75</p></td>
                          <td><p class="text-left">52wk Range</p></td>
                          <td><p class="text-right">17.07-14.95</p></td>
                        </tr>
                         <tr>
                          <td><p class="text-left">Volume</p></td>
                          <td><p class="text-right">0</p></td>
                          <td><p class="text-left">Avg Vol.(3m)</p></td>
                          <td><p class="text-right">N/A</p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                    <div>
                      <p>Please choose a time frame</p>
                    </div>
                    <div class="col-lg-6 col-md-9">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" id="startDate" Placeholder="start Date"></input>
                        <input type="text" class="form-control" id="endDate" Placeholder="end Date">
                        <button type="button" class="btn btn-default">Submit</button>
                      </div>
                    </form>
                    </div>

                </div>
                <div class="col-lg-8 col-md-12">
                        <!--need revision-->
                        <!-- TradingView Widget BEGIN -->
                        <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                        <script type="text/javascript">
                        new TradingView.widget({
                          "width": 780,
                          "height": 410,
                          "symbol": "INDEX:VXGO",
                          "interval": "D",
                          "timezone": "Etc/UTC",
                          "theme": "White",
                          "style": "1",
                          "locale": "en",
                          "toolbar_bg": "#f1f3f6",
                          "enable_publishing": false,
                          "allow_symbol_change": true,
                          "hideideas": true
                        });
                        </script>
                        <!-- TradingView Widget END -->
                </div>
              </div>

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section end -->
    <!-- javascripts -->
    <script src="static/assets/js/jquery.js"></script>
    <!-- bootstrap -->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="static/assets/js/jquery.scrollTo.min.js"></script>
    <script src="static/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- chart -->
    <script src="static/assets/js/chart.js"></script>
    <!--custome script for all page-->
    <script src="static/bootstrap/js/scripts.js"></script>

  </body>
</html>
