<table class="table">
    <tbody>
    <div class= "form-group field">
      <form action = "/searchStock" method = "POST">
        <td><input onkeyPress = "myAutocomplete()" type="text" class="form-control" id="stockSearch" name = "stockName"
          placeholder="Please type in stock name or company name to search for the stock"></input></td>
        <td><input type="submit" class="button icon search" value= "Find!"></input></td>
      </form>
    </div>
    </tbody>
</table>

<table class="display" id="stocklist">
    <thead>
      <tr>
        <th>Stock Name:Company name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Stock Name:Company name</th>
        <th>Action</th>
      </tr>
    </tfoot>
    <tbody>
    {% for s in stocks%}
      <tr>
        <td><form action = "{{url_for('searchStock')}}" method = "POST"> <input name = "stockName" role="button" class="btn btn-link" type="submit" value = "{{s.stkid}} : {{s.company}}"></input></form></td>
        <td><a role="button" href="{{url_for('deletestock', stkid = s.stkid)}}" class="button danger icon remove">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>

</table>
