{% extends "base_template.html" %}
{% block title %}Stock Info{% endblock %}
{% block mainContent %}
      		  <div class="row">
      				<div class="col-lg-12">
      					<h3 class="page-header"><i class="icon_desktop"></i>My Stock List</h3>
      					<ol class="breadcrumb">
      						<li><i class="fa fa-home"></i><a href="dashboard">Home</a></li>
      						<li><i class="icon_desktop"></i><a href="stocklist">My Stock List</a></li>
      						<li><i class="fa fa-area-chart" aria-hidden="true"></i>Stock historical data</li>
      					</ol>
      				</div>
      			</div>
              <!-- page start-->

              <div class="row">
                <div class="col-lg-6 col-md-9">
                  <h3 id = "stockID_info"> {{ stockID }}</h3>{{ stockName }}
                </div>
                <div class="col-lg-3" >
                <button onclick="predictStockJS()" class="btn btn-primary" id="predBtn" style="font-weight:bold;
                              text-shadow:0px 1px 0px #1570cd;">Prediction</button>
                  {% if not me.stock_in_list(cur_stock)%}
                    <a role ="button" href="{{ url_for('addstock', stkid = stockID)}}" class="btn btn-default"> add stock</a>
                  {% else%}
                    <a role ="button" class="btn btn-default disabled"> add stock</a>
                  {% endif%}
                </div>
                <div class="col-lg-3" id="popup"
                style="
                background:transparent;
                text-align: center;
                display: none;
                border: 2px solid rgb(26, 188, 156);
                border-radius: 12px;
                width: 290px;
                font:Arial;
                color:rgba(10, 63, 106, 0.74);
                font-size: 18px;">
                  <div class = "row" >
                    <div>
                      <p id="select_high_price"></p>
                      <p id="select_open_price"></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6">
                  <div class="table-responsive">
                    <table class="table table-bordered" style="border-top:3px solid #e5eff8;
border-right:3px solid #e5eff8;">
                      <tbody>
                        <tr style="border-top:3px solid #e5eff8;
    border-right:3px solid #e5eff8;">
                          <td style="background:#87CEEB;"><p class="text-left">
                            <a href="#" class="highP_popper" data-popbox="highPrice" >High</a>
                            <div  id="highPrice" class="popbox">the highest price at which a stock traded during the course of the day. Today's high is typically higher than the closing or opening price.</div>
                          </p></td>
                          <td style ="background:#F5FFFA;"><p class="text-right" id="today_high_price"></p></td>
                          <td style="background:#87CEEB;"><p class="text-left">
                            <a href="#" class="lowP_popper" data-popbox="lowPrice">Low</a>
                            <div  id="lowPrice" class="popbox">the lowest price at which a stock traded during the course of the day.</div>
                          </p></td>
                          <td style ="background:#F5FFFA;"><p class="text-right" id="today_low_price"></p></td>
                        </tr>
                         <tr style="border-top:3px solid #e5eff8;
     border-right:3px solid #e5eff8;">
                          <td style="background:#87CEEB;"><p class="text-left">
                            <a href="#" class="openP_popper" data-popbox="openPrice">Open</a>
                            <div  id="openPrice" class="popbox">the price at which a security first trades upon the opening of an exchange on a given trading day</div>
                          </p></td>
                          <td style ="background:#F5FFFA;"><p id = "today_open_price" class="text-right"></p></td>
                          <td style="background:#87CEEB;"><p class="text-left">
                            <a href="#" class="closeP_popper" data-popbox="closePrice">Close</a>
                            <div  id="closePrice" class="popbox">the final price at which a security is traded on a given trading day</div>
                          </p></td>
                          <td style ="background:#F5FFFA;"><p class="text-right" id="today_close_price"></p></td>
                         </tr>
                         <tr style="border-top:3px solid #e5eff8;
     border-right:3px solid #e5eff8;border-bottom:3px solid #e5eff8;">
                          <td style="background:#87CEEB;"><p class="text-left">
                            <a href="#" class="volumeP_popper" data-popbox="volumeP">Volume</a>
                            <div id="volumeP" class="popbox">the number of shares of a given stock that changed hands during a given day</div>
                          </p></td>
                          <td style ="background:#F5FFFA;"><p class="text-right" id="today_volume"></p></td>
                          <td style="background:#87CEEB;"><p class="text-left">
                            <a href="#" class="avgVolumeP_popper" data-popbox="avgVolumeP">Avg Vol.(3m)</a>
                            <div id="avgVolumeP" class="popbox">the average of volume in a given day</div></p></td>
                          <td  style ="background:#F5FFFA;"><p class="text-right">N/A</p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div> <!--table responsive-->
                    <div><!--time selector-->
                      <h3>Timeline Selector <img src="static/images/questionIcon.png" class="popper" data-popbox="pop1" style="width: 5%; height: 5%"></h3>
                    </div><!--time selecgtor-->
                    <div id="pop1" class="popbox">You can select timeframe for stock display.</div>
                      <div class="col-lg-6 col-md-9">
                        <div class="form-group">
                        <form action="/editTime" method = "POST" onsubmit="validateDate()" style="border-radius: 12px;">

                            <h5 style="font-weight:bold;">Start Date: </h5><input type="date" required class="form-control"  name="startDate" id="startDate" Placeholder="start Date"></input>
                            <h5 style="font-weight:bold;">End Date:</h5>
                            <input type="date" class="form-control" required id = "userInputEndDate" name = "endDate" id="endDate" max = '2000-13-13' Placeholder="end Date"></input>
                            <input type="submit" class="btn btn-primary" value = "submit date" style="margin: 10px 0px 5px 0px;
                              font-weight:bold;
                              text-shadow:0px 1px 0px #1570cd;"></input>
                            <a role="button" href="{{url_for('defaultDate')}}" class="btn btn-default" style="margin: 10px 5px 5px 0px;font-weight:bold;text-shadow:0px 1px 0px #DCDCDC;">Reset date</a>


                        </form><!--editTime-->
                        </div><!--form-group-->
                        {% if error %}
                            <p class=error style="color:red;font-weight:900;"><strong>Error:</strong> {{ error }}</p>
                        {% endif %}
                    </div><!--col-lg6-->
                    {% if not session['startDate']%}
                    <div class="predTable" style="display: none;">
                        <div style="font-family: Arial, Helvetica, sans-serif;">
                          <h1 style="color:#25383C;"> Prediction Result:</h1>
                          <h2 id = "defaultPredictDiv" style="text-align: center;color:#25383C;"></h2>
                        </div>
                    </div>
                    {% endif %}
                </div><!--col-lg4-->

                <div class="col-lg-8 col-md-12 chart"><p>Stock Price Display</p>
                </div>
              </div><!--row-->
              <div class="row predTable" style="display:none;">
                {% if session['startDate']%}
                <div class="col-lg-6 col-md-9 groove" style="padding: 100px 30px 50px 80px;">
                  <div class="table-responsive">
                  <h1>Prediction from {{session['startDate']}} to {{session['endDate']}}</h1>
                    <table class="display" id="example" cellspacing="0" width="100%"></table>
                  </div>
                </div>
                {% endif %}
              </div>
{% endblock %}
{% block script %}

    <script>
    function createCORSRequest(method, url) {
      var xhr = new XMLHttpRequest();
      if ("withCredentials" in xhr) {
        // Check if the XMLHttpRequest object has a "withCredentials" property.
        // "withCredentials" only exists on XMLHTTPRequest2 objects.
        xhr.open(method, url, true);
      } else if (typeof XDomainRequest != "undefined") {
        // Otherwise, check if XDomainRequest.
        // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
        xhr = new XDomainRequest();
        xhr.open(method, url);
      } else {
        // Otherwise, CORS is not supported by the browser.
        xhr = null;
      }
      return xhr;
    }

    $("#predBtn").click(function() {
      $(".predTable").toggle();
    });

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("userInputEndDate").setAttribute("max", today);
    document.getElementById("startDate").setAttribute("max", today);

    stockID_info = document.getElementById("stockID_info").innerText;
    url = "https://www.quandl.com/api/v3/datatables/WIKI/PRICES.json?ticker="+stockID_info+"&qopts.columns=date&api_key=sXBsPYtsefUf_qaFxNDK";

    var xhr = createCORSRequest('GET', url);
    xhr.onload = function() {
     var responseText = xhr.responseText;
     var stockCodes = JSON.parse(responseText);
     var oldestStartDate = stockCodes.datatable.data[0][0];
     console.log(oldestStartDate);
     document.getElementById("startDate").setAttribute("min", oldestStartDate);
     document.getElementById("userInputEndDate").setAttribute("min", oldestStartDate);
    }
    xhr.send();

    </script>
    <!-- javascripts -->
    <script src="static/assets/js/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/assets/js/jquery.ajax-cross-origin.min.js"></script> -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/assets/js/stockPrediction.js?30">></script>
    <script type="text/javascript" src="static/assets/js/crosshairs.js">></script>
    <script type="text/javascript" src="static/assets/js/candlestickSeries.js"></script>
    <script type="text/javascript" src="static/assets/js/displayInfo.js"></script>
    <script type="text/javascript" src="static/assets/js/tracker.js"></script>
    <script type="text/javascript" src="static/assets/js/crosshairs.js"></script>
    <script type="text/javascript" src="static/assets/js/annotation.js"></script>
    <script type="text/javascript" src="static/assets/js/stockSeries.js"></script>


{% endblock %}
