{% extends "base_template.html" %}
{% block title %}Stock Info{% endblock %}
{% block mainContent %}
      		  <div class="row">
      				<div class="col-lg-12">
      					<h3 class="page-header"><i class="icon_desktop"></i>My Stock List</h3>
      					<ol class="breadcrumb">
      						<li><i class="fa fa-home"></i><a href="dashboard">Home</a></li>
      						<li><i class="icon_desktop"></i><a href="stocklist">My Stock List</a></li>
      						<li><i class="fa fa-area-chart" aria-hidden="true"></i>Stock historical data</li>
      					</ol>
      				</div>
      			</div>
              <!-- page start-->

              <div class="row">
                <div class="col-lg-6 col-md-9">
                  <h3 id = "stockID_info"> {{ stockID }}</h3>{{ stockName }}
                </div>
                <div class="col-lg-3">
                  <button type="button" class="btn btn-default">Predict</button>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td><p class="text-left">Prev close</p></td>
                          <td><p class="text-right">25.22</p></td>
                          <td><p class="text-left">Day's range</p></td>
                          <td><p class="text-right">17.07-19.45</p></td>
                        </tr>
                         <tr>
                          <td><p class="text-left">Open</p></td>
                          <td><p class="text-right">17.75</p></td>
                          <td><p class="text-left">52wk Range</p></td>
                          <td><p class="text-right">17.07-14.95</p></td>
                        </tr>
                         <tr>
                          <td><p class="text-left">Volume</p></td>
                          <td><p class="text-right">0</p></td>
                          <td><p class="text-left">Avg Vol.(3m)</p></td>
                          <td><p class="text-right">N/A</p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                    <div>
                      <p>Timeline Selector <img src="static/images/questionIcon.png" class="popper" data-popbox="pop1" style="width: 5%; height: 5%"></p>
                    </div>
                    <div  id="pop1" class="popbox">You can select timeframe for stock display.</div>
                    <div class="col-lg-6 col-md-9">
                    <form action="/editTime" method = "POST">
                      <div class="form-group">
                        Start Date: <input type="date" class="form-control"  name="startDate" id="startDate" Placeholder="start Date"></input>
                        End Date:
                        <input type="date" class="form-control" name = "endDate" id="endDate" Placeholder="end Date"></input>
                        <input type="submit" class="btn btn-default"></input>
                      </div>
                    </form>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 chart">
                </div>
              </div>
{% endblock %}
{% block script %}
    <!-- javascripts -->
    <script src="static/assets/js/jquery.js"></script>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/assets/js/jquery.ajax-cross-origin.min.js"></script> -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/assets/js/candlestickSeries.js"></script>
    <script type="text/javascript" src="static/assets/js/displayInfo.js"></script>
    <script type="text/javascript" src="static/assets/js/stockSeries.js"></script>

{% endblock %}
